<div class="col-md-12">
    <div class="row">
        <h1>Downloads</h1>
    </div>
    <div class="row post">
        <div class="col-md-12">
            <h2>Latest Stable Release: {{ stable.version }} ({{ stable.date }})</h2>

            <p>
                Desktop (Any Platform):
                <a href="http://jamicouch.com/downloads/valley-of-bones/stable/ValleyOfBones-{{ stable.version }}.zip">Download</a> (Requires Java 1.6 or better)
            </p>
            <p>
                Android:
                <a href="http://jamicouch.com/downloads/valley-of-bones/stable/valley-of-bones-{{ stable.version }}.apk">Download</a>
            </p>
        </div>
    </div>
    <div class="row post">
        <div class="col-md-12">
            <h2>Latest Nightly Build: {{ nightly.version }} ({{ nightly.date }})</h2>

            <p>
                Desktop (Any Platform):
                <a href="http://ahsgaming.com/downloads/valley-of-bones/nightlies/ValleyOfBones-latest.zip">Download</a> (Requires Java 1.6 or better)
            </p>
            <p>
                Android:
                <a href="http://ahsgaming.com/downloads/valley-of-bones/nightlies/valley-of-bones-latest.apk">Download</a>
            </p>
        </div>
    </div>
</div>
