
<h1>Statistics:</h1>

<b class="lead">Filters</b>

<p>
    <b>Version Groups: </b>
    <span ng-repeat="version in version_groups">
        <a ng-hide="version == filterVersion" ng-click="setVersionFilter(version)">{{ version }}</a>
        <span ng-show="version == filterVersion">{{ version }}</span>
        <span>&nbsp;|&nbsp;</span>
    </span>
    <a ng-hide="filterVersion == null" ng-click="setVersionFilter(null)">None</a>
    <span ng-show="filterVersion == null">None</span>
</p>

<p>
    <b>Version: </b>
    <span ng-repeat="version in versions">
        <a ng-hide="version == filterVersion" ng-click="setVersionFilter(version)">{{ version }}</a>
        <span ng-show="version == filterVersion">{{ version }}</span>
        <span>&nbsp;|&nbsp;</span>
    </span>
    <a ng-hide="filterVersion == null" ng-click="setVersionFilter(null)">None</a>
    <span ng-show="filterVersion == null">None</span>
</p>

<p>
    <b>Map: </b>
    <span ng-repeat="map in maps">
        <a ng-hide="filterMap == map" ng-click="setMapFilter(map)">{{ map }}</a>
        <span ng-show="filterMap == map">{{ map }}</span>
        <span>&nbsp;|&nbsp;</span>
    </span>
    <a ng-hide="filterMap == null" ng-click="setMapFilter(null)">None</a>
    <span ng-show="filterMap == null">None</span>
</p>


<b class="lead">Games Played</b>  <br>
<svg class="pie" id="versionPieChart" width="400" height="300"></svg>
<svg class="pie" id="winPctPieChart" width="400" height="300"></svg>
<svg class="pie" id="mapPieChart" width="400" height="300"></svg>

<b class="lead">Units Built</b>       <br>

<svg class="pie" id="totalUnitsPieChart"></svg>
<svg class="pie" id="unitsP1PieChart"></svg>
<svg class="pie" id="unitsP2PieChart"></svg>
<svg class="pie" id="unitsWinnerPieChart"></svg>
<svg class="pie" id="unitsLoserPieChart"></svg>